h1 {
    font-size: 2.6vw;
}

p {
    font-size: 1.6vw;
}
body {
    overflow-x: hidden;
    background-color: lightblue;
}

.wrapper {
    width: 100%;
    margin: 2vw;
}
  
.sidebyside {
    overflow: auto;
    overflow-wrap: break-word;
    width: 25%;
    float: left;
}

.canvascontainer {
    overflow: auto;
    overflow-wrap: break-word;
    width: 40%;
    float: left;
}

canvas {
    margin: 15%;
    width: 70%; 
}