h1 {
    font-size: 2.6vw;
}

p {
    font-size: 1.6vw;
}
body {
    overflow-x: hidden;
    background-color: lightblue;
}

.wrapper {
    width: 100%;
    margin: 2vw;
}

.indepent {
    margin: 2vw;
}
  
.sidebyside {
    overflow: auto;
    overflow-wrap: break-word;
    width: 30%;
    float: left;
}

.canvascontainer {
    overflow: auto;
    overflow-wrap: break-word;
    width: 40%;
    float: left;
    text-align: center;
    align-items: center;
}

canvas {
    width: 70%; 
    margin: 15%
}

.bigicon {
    margin: 10%;
    border: 5px solid black;
    border-radius: 10px;
    height: 15vw;
    width: 15vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.day {
    text-align: center;
    float: left;
    width: 9vw;
    height: 22vw;
    padding: 0.5vw;
    margin: 0.5vw;
    background-color: white;
    border: 2px solid black;
}

.smallicon {
    border: 5px solid black;
    border-radius: 10px;
    width: 90%;
    margin-top: 0.2vw
}

.datecontainer {
    margin: -0.5vw -0.5vw 0vw;
    background-color: lightgray;
    width: 10vw;
    height: 10%;
}

.date {
    margin: auto;
}